.row {
display: flex;
flex-wrap: wrap;
padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
flex: 25%;
max-width: 25%;
padding: 0 4px;
}

.column img {
margin-top: 8px;
vertical-align: middle;
width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
  flex: 50%;
  max-width: 50%;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
  flex: 100%;
  max-width: 100%;
 }
}

#image{
  height:300px;
  max-width: 100%;
  display:block;
  height: auto;
}

#img-caption {
  font-size: 35px;
}

.main-text {
  text-align: left;
  font-size: 20px;
  font-family: sans-serif;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
}


#title {
  color: white;
  background-color: black;
  font-family: sans-serif;
  font-weight: bold;
}

.man19{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: black;

}
#tribute-link{
  color: white;
  font-size: 30px;
  font-weight: bold;
}
